@font-face {
  font-family: "ALSRubl";
  src: url('../fonts/ruble/ruble.eot');
  src: url('../fonts/ruble/ruble.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ruble/ruble.woff') format('woff'),
  url('../fonts/ruble/ruble.ttf') format('truetype'),
  url('../fonts/ruble/ruble.svg#ALSRublRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
